*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

header{
    background-color: gray;
    position: sticky;
    top:0;
}

body{
    width:100vw;
    height:100vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight:900;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    margin-bottom:80px;
}
ul{
    height:60px;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
}

nav ul li, 
a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

li{
    list-style:none;
}

main{
    height: 100vh;
    background-color: rgb(159, 141, 176);
    display: flex;
    justify-content:center;
    flex-direction:column;
}
.starting, .VM{
    background-color: rgb(225, 214, 235);
    padding: 10px;
}
button{
    background-color: rgb(224, 220, 227);
    padding: 10px;
    margin-left:20px;
    border-radius:50%;
}

aside{
   background-color: rgb(183, 131, 131);
   padding:20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    text-align: justify;
}

footer{
    background-color: rgb(170, 57, 57);
    display: flex;
    flex-direction: column;
    align-items:center;
    position: fixed;
    bottom: 0px;
    width:100%;
}
div{
    background-color: rgb(111, 95, 95);
    position: static;
    display: flex;
    flex-direction: column;
    align-items:center;
    position: fixed;
    bottom: 0px;
    width:100%;
    height:auto;
    z-index: 2;
    padding:20px;
}

div h1{
    color:yellow;
    text-align: center;
}

div button{
    border-radius:10px;
}
a{
    color:#000;
    text-decoration: none;
}
form{
    background-color: #fff;
    padding:10px;
}
input{
    margin:20px;
}
table{
    position: relative;
    background-color: aquamarine;
    border:1px solid #000;
    border-collapse: collapse;
    height: auto;
    width:auto;
    z-index:1;
    
   /* margin:20px;
   position: absolute;
   top:70%; */
}

th, td{
    border:1px solid #000;
    width:50px;
    height: auto;
    padding:10px;
}

section{
    height:100px;
    background-color:red;
}
